*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: pink;
    font-family: 'roboto';
}
.container{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
}
    
 .intro{
    text-align: center;
    /*font-size: 70%;*/
    padding: 20px;
}
.form{
   padding: 20px;
}
label{
    font-size: 1rem;
    font-weight: 700;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}
.input_width{
    width: 90%;
    height: 35px;
}
.input_padding{
    padding: 10px;
}
.input_style{
    font-size: smaller;
    font-weight: 40px;
    padding: 5px;;
}
.textarea_width{
    width: 90%;
}
.btn{
    width: 50%;
    height: 40px;
    background-color:pink;
    border-color:pink ;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 1px 2px 5px 1px rgba(69,62,62,0.75);
}
@media screen and (max-width:480px) {
    .container{
        background-color: white;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        padding: 10px;
        border-radius: 10px;
    }
    h1{
        font-size: 1.5rem;
    }
}